<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.myreadfile" version="1.0.0">
  <name>MyReadFile</name>
  <description>my read file</description>
  <author href="http://phonegap.com" email="support@phonegap.com">PhoneGap Team</author>
  <platform name="android" />
  <content src="index.html"/>
  <preference name="android-minSdkVersion" value="14"/>
  <gap:platforms>
    <gap:platform name="android" minVersion="2.1" />
  </gap:platforms>
  <feature name="http://api.phonegap.com/1.0/battery" />
  <feature name="http://api.phonegap.com/1.0/camera" />
  <feature name="http://api.phonegap.com/1.0/contacts" />
  <feature name="http://api.phonegap.com/1.0/file" />
  <feature name="http://api.phonegap.com/1.0/geolocation" />
  <feature name="http://api.phonegap.com/1.0/media" />
  <feature name="http://api.phonegap.com/1.0/network" />
  <feature name="http://api.phonegap.com/1.0/notification" />
  <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1"/>
</widget>
